window {
  opacity: 1;
  border:  0px;
  border-radius: 0px;
  font-family: "FiraCode NerdFont";
  font-size: 16px;
}

#input {
  border-radius: 0px 0px 0px 0px;
  border: none;
  box-shadow: none;
  margin: 4.5px;
  margin-left: 4px;
  font-size: 16.5px;
  color: #ebdbb2;
  background: #1a1a1a;
}

#inner-box {
  border: none;
  margin: 2.5px;
  color: #f1e7be;
  background: #1a1a1a;
}

#outer-box {
  margin: 0px;
  background: #1a1a1a;
  border: 2px solid #efc884;
  padding: 0px 0px 0px 0px;
}

#entry {
  padding: 0px 0px 0px 0px;
  margin: 7px;
  background: #1a1a1a;
}

#entry:selected {
  background: #1a1a1a;
  color: #1a1a1a;
  outline: none;
  /*entry background isnt set for gradient.*/
  /*background: linear-gradient(-90deg, #458588, #1a1a1a);*/
  /*padding: 2.5px 2.5px 2.5px 2.5px;*/
}

#scroll {
  border: none;
  margin: 0px;
  background: #1a1a1a;
}

#text:selected  {
  color: #ebdbb2;
}

#text {
  margin: 2px;
  padding: 2px 2px 2px 5.25px;
  color: #505552;
}

image{
  margin-left: .12em;
  margin-right: .23em;
}
