@keyframes blink-warning {
    70% {
        color: @light;
    }

    to {
        color: @light;
        background-color: @warning;
    }
}

@keyframes blink-critical {
    70% {
      color: @light;
    }

    to {
        color: @light;
        background-color: @critical;
    }
}

@keyframes blink-resize {
    30% {
      color: #fbf1c7;
    }

    to {
        color: #9d0006;
        background-color: #504945;
    }
}

@define-color light #D8DEE9;
@define-color warning #ebcb8b;
@define-color nord_bg #282828;
@define-color nord_bg_blue @bg;
@define-color nord_light #D8DEE9;
@define-color nord_dark_font #272727;
@define-color bg #1a1a1a;
@define-color critical #cc241d;
@define-color tray @bg;
@define-color mode @bg;
@define-color bluetint #448488;
@define-color bluelight #83a597;
@define-color magenta-dark #b16185;
@define-color font_gruv_normal #ebdbb2;
@define-color font_gruv_faded #a89985;
@define-color font_gruv_darker #D8DEE9;
@define-color font_dark_alternative #655b53;

* {
    font-family: "FiraMono NerdFont";
    border: solid;
    border-radius: 0px;
    min-height: 0;
    font-weight: bold;
}

#waybar {
    background: rgba(26, 26, 26, 0.80);
    /*color: @light;*/
    font-family: "FiraMono NerdFont";
    font-size: 8.5pt;
    font-weight: bold;
}
.modules-left {
    padding-left:4.5px;
}
.modules-right {
    padding-right:4.5px;
}

#custom-wallpaper {
    color: #d4ff70;
    background: #3c3836;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
    padding: 0 7 0 6px;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    box-shadow: 0 0 2 0px #1a1a1a;
}
#clock,
#cpu,
#custom-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-alsa,
#custom-playerctl,
#custom-scratchpad_indicator,
#tray,
#backlight,
#mode,
#memory,
#temperature,
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
    color: @critical;
}

#memory.critical,
#temperature.critical,
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}
#mode {
    animation-name: blink-resize;
    animation-duration: 4s;
}

#network.disconnected {
    background: @bg;
    color: @font_gruv_faded;
}

#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
    background: @warning;
    color: @nord_dark_font;
}

#battery.warning.discharging {
    animation-name: blink-resize;
    animation-duration: 3s;
}

#clock.time {
    color: @font_gruv_normal;
    background: #3c3836;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
    padding: 0 8 0 8px;
    margin-top: 3px;
    margin-bottom: 3px;
    box-shadow: 0 0 2 0px #1a1a1a;
}

#custom-scratchpad_indicator {
    color: #edffd9;
    background: #3c3836;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
    padding: 0 8 0 8px;
    margin-top: 3px;
    margin-bottom: 3px;
    box-shadow: 0 0 2 0px #1a1a1a;
}

#custom-playerctl {
    color: #b8bb26;
    background: #3c3836;
    border-radius: 4px;
    padding: 0 8 0 8px;
    border: 1px solid #1a1a1a;
    margin-top: 3px;
    margin-bottom: 3px;
    box-shadow: 0 0 2 0px #1a1a1a;
}
#custom-playerctl.paused{
    color: @font_gruv_faded;
    border-radius: 4px;
    padding: 0 8 0 8px;
    border: 1px solid #1a1a1a;
    box-shadow: 0 0 2 0px #1a1a1a;
}

#workspaces button {
    background: #1a1a1a;
    padding: 0em 0.88em;
    color: #ebdbb2;
    min-width: 0em;
}
#workspaces button.focused {
    font-weight: bolder;
}
#workspaces button.urgent {
    color: #c9545d;
    opacity: 1;
}
/* #cpu {
    color: #ff430a;
    background: #3c3836;
    border: 1px solid #1a1a1a;
    border-radius: 0px;
    padding: 0 8 0 8px;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 4px;
    box-shadow: 0 2 2 0px #1a1a1a;
} */
/* #cpu.critical {
    color: @nord_dark_font;
    border: 1px solid #1a1a1a;
    border-radius: 0px;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 4px;
    padding: 0 8 0 8px;
    box-shadow: 0 2 2 0px #1a1a1a;
} */
#temperature {
    color: #fb4934;
    background: #3c3836;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
    padding: 0 8 0 8px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    box-shadow: 0 0 2 0px #1a1a1a;
}
#temperature.critical {
    color: #fb4934;
    background: #3c3836;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
    padding: 0 8 0 8px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    box-shadow: 0 0 2 0px #1a1a1a;
}
#pulseaudio {
    color: #d3869b;
    background: #3c3836;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
    padding: 0 8 0 8px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    box-shadow: 0 0 2 0px #1a1a1a;
}
#pulseaudio.muted {
    color: #a89985;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
    padding: 0 8 0 8px;
    box-shadow: 0 0 2 0px #1a1a1a;
}
#network {
    color: #8ec07c;
    background: #3c3836;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
    padding: 0 8 0 8px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    box-shadow: 0 0 2 0px #1a1a1a;
}
#tray {
    background: #3c3638;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
    padding: 0 8 0 8px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    box-shadow: 0 0 2 0px #1a1a1a;
}

#custom-alsa {
    background: @sound;
}
#memory {
    color: #74b3a1;
    /*color: #6ba595;*/
    background: #3c3836;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
    padding: 0 8 0 8px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    box-shadow: 0 0 2 0px #1a1a1a;
}
#custom-layout {
    background: @layout;
}
#mode {
    color: #ebdbb2;
    background: #3c3836;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    box-shadow: 0 0 2 0px #1a1a1a;
}
#battery {
    background: @battery;
}

#backlight {
    background: @backlight;
}
#window {
    margin-right: 40px;
    margin-left: 40px;
    font-weight: normal;
}
#custom-weather {
    background: @mode;
    font-weight: bold;
    padding: 0 0.6em;
}
